article {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 10px auto;
    padding: 0px 10px;
    border-radius: 20px;
    align-items: center;

    background-color: #14181a;
    box-shadow: 3px 3px #ceace8c0;
}

.scrambled {
    cursor: pointer;
}

article iframe {
    width: 100%;
    height: 40vw;
}

.cover {
    flex-direction: column;
}

.cover > span {
    color: #A3CBE7;
}
/* 
.cover > h1 {
    font-size: 2.25em;
    margin-bottom: 0px;
    font-weight: 800;
    color: #CEACE8;
} */

hr {
    border-top: 3px solid #E5A3A1;
}

.thumbnail {
    margin: 20px 0px;
    border-radius: 15px;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
}

main > img {
    max-width:100%;
    max-height:500px;
}

main p,
main h2 {
    font-size: 1.2em;
    margin-bottom: 1.1em;
    align-self:flex-start;
}

main h2 {
    /* color: #CEACE8; */
    font-size: 1.7em;
    margin-top: 15px;
    margin-bottom: 0;
}

.cool-bg {
    background-color: #14181a;
    box-shadow: px 4px #ceace8c0;
    border-radius: 20px;
    padding: 12px 10px;
}

.preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    flex: 1 auto auto;

    overflow: hidden;
}

.preview > img {
    max-width: 80%;
}

.preview > p {
    text-align: center;
}

.preview time {
    color: #A3CBE7;
}

article time {
    color: #A3CBE7;
}

.preview > span {
    text-align: center;
    font-size: 1.2em;
    margin: 10px;
}

.prev-link {
    color: inherit;
    text-decoration: none;  
}

article > main > span {
    color: gray;
}

pre > code {
    display:block;
    line-height: 1.5;
    border-radius: 0.5em;
    border: 0.3em solid #545454;
    margin: 0.5em;
    padding: 0.5em;
    white-space: pre-line;
    background-color: #1d0218;
    /* display: none; */
}

li {
    line-height: 1.3em;
}

h1 {
    font-size: 2.25em;
    margin-bottom: 0px;
    font-weight: 800;
    color: #CEACE8;
}