.first_post {
    /* --background: #c24d6a;
    --foreground: #fbfef8;
    --third-color: #000000; */
    
    --background: #008080;
    --foreground: #e7fff3;
    --third-color: #000000;

    background-color: var(--foreground);
    color: white;
}

.first_post .cool-bg {
    background: var(--background);
    box-shadow: 3px 3px var(--foreground);
}

.first_post h1, h2 {
    color: var(--foreground);
}

.first_post hr {
    border-top: 3px solid var(--third-color);
}

.first_post time {
    color: var(--foreground);
}

.first_post.preview time {
    color: var(--background);
}

.first_post .cover > span {
    color: var(--third-color);
}

.first_post article {
    background: var(--background);
    box-shadow: 6px 6px var(--third-color);
}

.first_post pre > code {
    border: 0.3em solid var(--foreground);
    color: #000000;
}

.first_post nav a {
    color: var(--foreground);
}

.first_post footer {
    background-color: var(--background);
}

.first_post .mid span {
    color: var(--foreground);
}

.first_post nav ul {
    color: var(--foreground);
    background-color: var(--background);
}

.first_post.preview {
    background: var(--foreground);
    box-shadow: 3px 3px var(--background);
    border-radius: 20px;
    padding: 12px 10px;

    color: var(--background);
}