.BLOBGEN {
    /* --background: #071607;
    --foreground: #F52535; */
    --background: #000000;
    --foreground: #ffffff;
    --third-color: #000000;

    --x: -4px;
    --y: -4px;

    background-color: var(--background);
    color: var(--foreground);
}

.BLOBGEN .DA_BLOB {
    font-weight: bold;
    text-decoration-line: underline;
    font-style: italic;
    background: -webkit-linear-gradient(rgb(207, 43, 212), #333);
}

.BLOBGEN ol {
    margin-top: 0px;
}

.BLOBGEN .gallery > img {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.BLOBGEN .SPACE {
    color: #fff;
    font-family: 'Glory', sans-serif;
    font-weight: 800;
    letter-spacing: 4px;
    text-shadow:
      calc(var(--x) * -1) calc(var(--y) * -1) 0px #ff92ee,
      calc(var(--x) * -2) calc(var(--y) * -2) 0px #fa6cff,
      calc(var(--x) * -3) calc(var(--y) * -3) 0px #d81dc4;
  }

.thumbnail {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
}

.BLOBGEN h1, h2 {
    color: var(--foreground);
}

.BLOBGEN hr {
    border-top: 3px solid var(--foreground);
}

.BLOBGEN time {
    color: var(--foreground);
}

.BLOBGEN.preview time {
    color: var(--foreground);
}

/* .BLOBGEN .cover > span {
    color: var(--third-color);
} */

.BLOBGEN article {
    background: var(--background);
    box-shadow: 6px 6px var(--foreground);
}

.BLOBGEN pre > code {
    border: 0.3em solid var(--foreground);
    color: #ffffff;
}

.BLOBGEN nav a {
    color: var(--foreground);
}

.BLOBGEN footer {
    background-color: var(--background);
}

.BLOBGEN .mid span {
    color: var(--foreground);
}

.BLOBGEN nav ul {
    color: var(--foreground);
    background-color: var(--background);
}

.BLOBGEN.preview {
    background: var(--background);
    box-shadow: 3px 3px var(--foreground);
    border-radius: 20px;
    padding: 12px 10px;

    color: var(--foreground);
}
