.home {
    display: flex;
    max-width: 1700px;
    margin: 10px auto;
    justify-content: center;
}

.pfp {
    width: 100%;
    max-width: 380px;
    border-style: solid;
    border-width: 4px;
    border-radius: 100%;
    border-color: #E5A3A1;
}

.cool-bg {
    background-color: #14181a;
    box-shadow: 3px 3px #ceace8c0;
    border-radius: 20px;
    padding: 12px 30px;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-right: 10px;
}

.gallery {
    display: flex;
    flex-direction: row;
}

.gallery-item {
    display: flex;
    max-height: 600px;
    max-width: 900px;
}

.home p {
    font-size: 1.2em;
}

.extra-credits {
    display: flex;
    flex-direction: column;
    float: right;
    margin: 20px;
    backdrop-filter: blur(15px);
    background-color: #a3cbe78e;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #DDE8FF;
    padding: 5px;

    font-weight: 600;

    display: none;
}

.mid > span {
    overflow-wrap: break-word;
    word-break: break-all;
}

@media screen and (max-width: 1200px) {
  /* .second-link {
        display: none;
    } */

    .home {
        flex-direction: column;
        align-items: center;
    }

    .me {
        width: 80%;
        margin-bottom: 20px;
    }

    .gallery-item {
        width: 100%;
    }
    
    .second-link {
        margin-top: 10px;
    }

    .gallery {
        width: 80%;
        flex-direction: column;
    }

    .extra-credits {
        display: flex;
    }
}