.home {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
}

.pfp {
    max-width: 380px;
    border-style: solid;
    border-width: 4px;
    border-radius: 100%;
    border-color: #E5A3A1;
}
/* 14181a */
.cool-bg {
    background-color: #14181a;
    box-shadow: 3px 3px #ceace8c0;
    border-radius: 20px;
    padding: 12px 30px;
}

.gallery {
    display: flex;
    flex-direction: column;
}

.gallery-item {
    display: flex;
    width: 68%;
    margin: 10px;
    min-width: 500px;
    max-width: 1200px;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
    width: 40%;
}

.home p {
    font-size: 1.2em;
}

.extra-credits {
    flex-direction: column;
    float: right;
    margin: 20px;
    backdrop-filter: blur(15px);
    background-color: #a3cbe78e;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #DDE8FF;
    padding: 5px;

    font-weight: 600;

    display: none;
}

.mid > span {
    overflow-wrap: break-word;
    word-break: break-all;
}

@media screen and (max-width: 1200px) {
    .extra-credits {
        display: flex;
    }
}